*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    background: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 5px;

    justify-content:space-around;
    align-items: center;
}

.container > div {
    background: #7159C1;
    width: 50%;
    height: 50%;
}

.center {
    display: grid;
    justify-self: end;
    align-self: end;
}

.center > div {
    width: 50%;
    height: 50%;

    background-color: rgb(212, 44, 25);
    justify-self: center;
    align-self: center;
}

.center > div:hover {
    background-color: black;
}
